
@font-face{
    font-family: 'ngnl';
    src: url("../ut/ngnl.ttf") format('truetype');
}
html {
    background-color: #504d4d;
  }
body{
    font-size: 64px;
    margin : 0 20%;
    background-color : #888a61;
    border: 5px solid rgb(0, 0, 0);
    background-image: url("/pics/specials/ET_FhdKUEAA98n6.jfif");

}

img {
    display: block;
    width : 50%;
    height:  auto;
    margin: 2 auto 2;
  }
.navbar {
    color:#0000FF;
    }
div.center{
    font-size: 64px;
    text-align: center;
    color : rgb(36, 29, 68);;
    text-shadow: 3px 3px 1px wheat;

}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
button.change_pic{
  width:30%;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height:auto;
  font-size:auto;

}
